@import url(base.css);
@mixin text-locatlL{
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
@mixin text-locatlT{
	top:0;
	bottom:0;
	margin-top:auto;
	margin-bottom:auto;
}
html,body{
	width:100%;
	height:100%;
	background:url("../img/lybg.png") no-repeat 0 0/cover;

}
#view-16{
	width:100%;
	height:100%;
	
	
}
header{
	width:100%;
	height:1.26rem;
	position:absolute;
	top:0;
	left:0;
	.back{
		width:0.37rem;
		height:0.37rem;
		position:absolute;
		top:0.29rem;
		left:0.24rem;
		font-size:0.36rem;
		color:#fff;
		i{
			display:block;
		}

	}
	.title{
		width:2.8rem;
		height:0.37rem;
		font-size:0.26rem;
		color:#fff;
		position:absolute;
		top:0.29rem;
		@include text-locatlL;
		span{
			font-size:0.28rem;
			color:#fff;
			margin-right:0.03rem;
			line-height:0.37rem;
		}
	}
	.number{
		width:0.88rem;
		height:0.44rem;
		font-size:0.22rem;
		color:#fff;
		line-height:0.44rem;
		position:absolute;
		@include text-locatlL;
		top:0.69rem;
		span{
			font-size:0.22rem;
			color:#fff;
		}
	}
}
section{
	width:100%;
	height:8.82rem;
	padding:0 0.24rem;
	position:absolute;
	top:1.26rem;
	box-sizing:border-box;
	.section-war{
		box-shadow:0 5px 30px 2px rgba(177,177,177,0.3);
		width:100%;
		height:100%;
		background:#fff;
		border-radius:0.1rem;
		ul{

			width:7.01rem;
			height:7.5rem;
			position:absolute;
			top:0.54rem;
			left:0.24rem;
			li{
				width:100%;
				height:2.5rem;
				position:relative;
				//background:red;
				margin-bottom:0.05rem;
				.sec-img{
					width:2.5rem;
					height:2.5rem;
					position:absolute;
					top:0;
					left:0;
				}
				.goodsName{
					width:0.73rem;
					height:0.33rem;
					font-size:0.24rem;
					color:#fc3195;
					position:absolute;
					top:0.38rem;
					left:2.57rem;
					line-height:0.33rem;
					font-weight:bold;

				}
				.describe{
					width:2.47rem;
					height:0.33rem;
					font-size:0.24rem;
					color:#454d58;
					line-height:0.33rem;
					position:absolute;
					top:0.71rem;
					left:2.57rem;
				}
				.vlue{
					width:0.95rem;
					height:0.33rem;
					font-size:0.24rem;
					color:#a2a2a2;
					line-height:0.33rem;
					position:absolute;
					top:0.71rem;
					left:5.35rem;
				}
				.line{
					width:3.94rem;
					height:0.14rem;
					position:absolute;
					top:1.33rem;
					left:2.57rem;
					border-bottom:0.01rem dashed #cacaca;
				}
				.down{
					width:0.36rem;
					height:0.36rem;
					position:absolute;
					top:1.92rem;
					left:2.57rem;
					font-size:0.36rem;
					color:#dcdcdc;
				}
				.number{
					width:0.81rem;
					height:0.36rem;
					border:1px solid #d2d2d2;
					border-radius:0.5rem; 
					position:absolute;
					top:1.92rem;
					left:3.07rem;
					font-size:0.18rem;
					line-height:0.34rem;
					text-align: center;
					box-sizing: border-box;
					color:#858585;
					font-weight:bold;

				}
				.add{
					width:0.36rem;
					height:0.36rem;
					position:absolute;
					top:1.92rem;
					left:4.01rem;
					font-size:0.36rem;
					color:#33affe;
				}
				.money{
					width:1.18rem;
					height:0.36rem;
					font-style:italic;
					font-size:0.18rem;
					color:#fe318e;
					position:absolute;
					top:1.92rem;
					right:0.45rem;
					font-weight:bold;
					span{
						font-size:0.36rem;
						color:#fe318e;

					}
				}
				.heng{
				  	width:0.31rem;
				  	height:0.04rem;
					border-radius:0.5rem; 
				  	background:#fe318e;
				  	position:absolute;
					top:2.0rem;
					right:0.8rem;
				}
				.point{
					width:0.04rem;
					height:0.04rem;
					border-radius:0.5rem; 
				  	background:#fe318e;
				  	position:absolute;
					top:2.0rem;
					right:0.71rem;
				}
			}
		}
		 
	}

	
}
.total{
	width:3.39rem;
	height:0.48rem;
	position:absolute;
	bottom:1.66rem;
	right:0.24rem;
	.title{
		width:2.06rem;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		font-size:0.48rem;
		font-weight:bold;
		color:#ccd3e2;

	}
	.s-line{
		width:0.08rem;
		height:0.37rem;
		position:absolute;
		top:0.05rem;
		left:1.65rem;
		border-right:0.01rem dashed #cacaca; 
	}
	.zj{
		width:0.55rem;
		height:0.24rem;
		font-size:0.24rem;
		color:#ff318e;
		position:absolute;
		top:0;
		left:1.88rem;
	}
	.rmb{
		width:0.55rem;
		height:0.24rem;
		font-size:0.24rem;
		color:#b8b8b8;
		position:absolute;
		bottom:0;
		left:1.88rem;
	}
	.number{
		width:1.12rem;
		height:100%;
		font-size:0.46rem;
		color:#ff318e;
		font-weight:bold;
		position:absolute;
		left:2.5rem;
	}
}
.button{
	width:5.74rem;
	height:0.88rem;
	position:absolute;
	top:12rem;
	@include text-locatlL;
	button{
		width:5.74rem;
		height:0.88rem;
		border-radius:0.5rem;
		background:#ff318e;
		border:0.04rem solid #fff;
		box-sizing: border-box;
		font-size:0.28rem;
  		text-align: center;
  		line-height:0.8rem;
  		color:#fff;
		font-weight:bold;

	}
	
}
.btnl{
		width:0.08rem;
		height:0.08rem;
		position:absolute;
		bottom:0.5rem;
		
		left:2.74rem;
		border-radius:50%;
		background:#fff;
}
.btnr{
		width:0.08rem;
		height:0.08rem;
		position:absolute;
		bottom:0.5rem;
		right:2.74rem;
		border-radius:50%;
		background:#fff;
}