* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

#view-18 {
  width: 7.5rem;
  height: 13.34rem;
  background: url("../img/fans.png"); }
  #view-18 .header {
    width: 7.5rem;
    height: 2.96rem;
    background: url("../img/top.png"); }
    #view-18 .header .top {
      position: absolute;
      width: 7.02rem;
      height: 0.42rem;
      padding-left: 0.24rem;
      padding-right: 0.24rem;
      margin-top: 0.86rem;
      display: flex;
      justify-content: space-between; }
      #view-18 .header .top i {
        display: block;
        font-size: 0.5rem;
        color: #ffffff; }
      #view-18 .header .top span {
        font-size: 0.3rem;
        color: #ffffff;
        font-weight: bold; }
    #view-18 .header .content {
      position: absolute;
      margin-top: 1.7rem;
      width: 7.5rem;
      height: 10.72rem;
      background: url("../img/buguize.png");
      background-size: cover; }
      #view-18 .header .content .content-right {
        position: fixed;
        width: 0.36rem;
        height: 85%;
        bottom: 0;
        right: 0;
        background: #f3f3f3;
        margin-left: 7.14rem;
        margin-top: 0.6rem; }
        #view-18 .header .content .content-right ul {
          margin: 0;
          padding: 0; }
          #view-18 .header .content .content-right ul li {
            list-style: none;
            font-size: 0.3rem;
            text-align: center; }
          #view-18 .header .content .content-right ul .shuzi {
            position: absolute;
            right: 0;
            width: 0.68rem;
            height: 0.3rem;
            background: #388bfc;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            color: #a0c8fe; }
            #view-18 .header .content .content-right ul .shuzi span {
              color: #ffffff; }
      #view-18 .header .content .content-introduce-yi {
        width: 7.26rem;
        height: 1.36rem;
        padding-left: 0.24rem;
        margin-top: 0.6rem; }
        #view-18 .header .content .content-introduce-yi .content-portrait {
          position: absolute;
          width: 0.98rem;
          height: 0.98rem;
          margin-top: 0.32rem;
          border-radius: 50%;
          border: dashed 0.02rem rgba(31, 31, 233, 0.4);
          display: flex;
          justify-content: center;
          align-items: center; }
          #view-18 .header .content .content-introduce-yi .content-portrait .portrait {
            width: 0.83rem;
            height: 0.83rem;
            border-radius: 50%;
            background: #5dc5fd; }
            #view-18 .header .content .content-introduce-yi .content-portrait .portrait img {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%; }
        #view-18 .header .content .content-introduce-yi .rigth-top {
          margin-left: 1.1rem;
          width: 5rem;
          height: 0.86rem;
          align-items: flex-end;
          display: flex;
          flex-direction: row; }
          #view-18 .header .content .content-introduce-yi .rigth-top span {
            font-size: 0.26rem;
            font-weight: bold;
            color: #4e4e4e; }
          #view-18 .header .content .content-introduce-yi .rigth-top #xingxing {
            display: block;
            font-size: 0.26rem;
            color: #f6d746;
            margin-left: 0.2rem; }
        #view-18 .header .content .content-introduce-yi .rigth-buttom {
          width: 6rem;
          height: 0.5rem;
          margin-left: 1.1rem;
          font-size: 0.24rem;
          align-items: flex-start;
          font-weight: bold;
          color: #aaaaaa; }
      #view-18 .header .content .content-introduce-er {
        width: 7.26rem;
        height: 1.36rem;
        padding-left: 0.24rem; }
        #view-18 .header .content .content-introduce-er .content-portrait {
          position: absolute;
          width: 0.98rem;
          height: 0.98rem;
          margin-top: 0.32rem;
          border-radius: 50%;
          border: dashed 0.02rem rgba(31, 31, 233, 0.4);
          display: flex;
          justify-content: center;
          align-items: center; }
          #view-18 .header .content .content-introduce-er .content-portrait .portrait {
            width: 0.83rem;
            height: 0.83rem;
            border-radius: 50%;
            background: #5dc5fd; }
            #view-18 .header .content .content-introduce-er .content-portrait .portrait img {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%; }
        #view-18 .header .content .content-introduce-er .rigth-top {
          margin-left: 1.1rem;
          width: 5rem;
          height: 0.86rem;
          align-items: flex-end;
          display: flex;
          flex-direction: row; }
          #view-18 .header .content .content-introduce-er .rigth-top span {
            font-size: 0.26rem;
            font-weight: bold;
            color: #4e4e4e; }
          #view-18 .header .content .content-introduce-er .rigth-top #xingxing {
            display: block;
            font-size: 0.26rem;
            color: #f6d746;
            margin-left: 0.2rem; }
        #view-18 .header .content .content-introduce-er .rigth-buttom {
          width: 6rem;
          height: 0.5rem;
          margin-left: 1.1rem;
          font-size: 0.24rem;
          align-items: flex-start;
          font-weight: bold;
          color: #aaaaaa; }
      #view-18 .header .content .content-introduce-san .left-top {
        width: 5rem;
        height: 0.86rem;
        align-items: flex-end;
        display: flex;
        flex-direction: row; }
        #view-18 .header .content .content-introduce-san .left-top span {
          font-size: 0.26rem;
          font-weight: bold;
          color: #4e4e4e; }
        #view-18 .header .content .content-introduce-san .left-top #xingxing {
          display: block;
          font-size: 0.26rem;
          color: #f6d746;
          margin-left: 0.2rem; }
      #view-18 .header .content .content-introduce-san .left-buttom {
        width: 6rem;
        height: 0.5rem;
        font-size: 0.24rem;
        align-items: flex-start;
        font-weight: bold;
        color: #aaaaaa; }
      #view-18 .header .content .content-introduce-san .right-top {
        position: absolute;
        width: 1.4rem;
        height: 0.74rem;
        background: #38c7fc;
        margin-left: 5.7rem;
        border-top-left-radius: 10px;
        color: #ffffff;
        font-size: 0.24rem;
        font-weight: bold;
        text-align: center;
        line-height: 0.74rem;
        margin-top: 0.12rem; }
      #view-18 .header .content .content-introduce-san .right-buttom {
        position: absolute;
        width: 1.4rem;
        height: 0.74rem;
        background: #388bfc;
        margin-left: 5.7rem;
        border-bottom-left-radius: 10px;
        color: #ffffff;
        font-size: 0.24rem;
        font-weight: bold;
        text-align: center;
        line-height: 0.74rem; }
