@import url(base.css);
/*sass变量开始*/
@mixin wrapper{
  width:100%;
  height: 100%;
  padding: 0 0.24rem;
  box-sizing: border-box;
}
@mixin header{
  width: 100%;
  line-height: 1;
  font-size: 0.24rem;
  text-align: center;
}
/*sass变量结束*/

/*整体背景开始*/
html{
  width:100%;
  height: 100%;
}
body{
  width:100%;
  height: 100%;
  background: url("../img/index-background.png") no-repeat 0 0/cover;
}
#view-1{
  width:100%;
  height: 100%;
}
/*整体背景开始*/
/*头部导航栏开始*/
header{
  width:100%;
  height: 0.88rem;
}
.header-wrapper{
  @include wrapper;
  display: flex;
  align-items: center;
}
.location{
  width:100%;
  height:0.58rem;
  display: flex;
}
i.icon-dingweiweizhi{
  color:#fff;
  font-size: 0.4rem;
}
.locationMain{
  height:100%;
  display: flex;
  margin-left: 0.1rem;
  position: relative;
}
.locationMain>span{
  font-size: 0.26rem;
  color:#fff;
  line-height: 0.4rem;
}
.borderBot{
  width:100%;
  display:flex;
  justify-content: center;
  position: absolute;
  top:0.4rem;
  left: 0;
}
.line{
  width:40%;
  height: 0.02rem;
  background: #fff;
}
.circle{
  width:0.02rem;
  height: 0.02rem;
  background: #fff;
  border-radius: 50%;
  margin:0 0.04rem;
}
/*头部导航栏结束*/
.artWord{
  width:6.47rem;
  height:3.78rem;
  position:absolute;
  bottom: 4.74rem;
  left:0;
  z-index: 999;
}
.artWord>img{
  display: block;
  width: 100%;
}
/*主体开始*/
main{
  width:100%;
  height: 4.8rem;
  position:absolute;
  bottom:0.3rem;
  left:0;
}
.main-wrapper{
  @include wrapper;
}
.menu{
  width:100%;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.menu>li{
  width:3.38rem;
  height: 2.29rem;
  border-radius: 0.08rem;
  background: #fff;
  position: relative;
  display: flex;
}
.menu>li>a{
  display: block;
  width:100%;
  height: 100%;
}
.menu>li>a>img{
  display: block;
  width: 2.46rem;
  height:0.93rem;
  margin:0.56rem auto 0.24rem;
}
.menu>li>a>h1{
  @include header;
  color:#fdd21e;
  opacity: 0.24;
}
.pic{
  width:1.78rem;
  height:1.12rem;
  position:absolute;
  top:0.36rem;
  left: 0;
  right:0;
  margin:0 auto;
}
.pic>img{
  display: block;
  width:100%;
}
.menu>li>a>h2{
  @include header;
  color:#fdd21e;
  position: absolute;
  top:1.73rem;
  left: 0;
}
.menu>li:nth-child(2)>a>h1,.menu>li:nth-child(2)>a>h2{
  color:#a93fe6;
}
.menu>li:nth-child(3)>a>h1,.menu>li:nth-child(3)>a>h2{
  color:#1fc8ff;
}
.menu>li:nth-child(4)>a>h1,.menu>li:nth-child(4)>a>h2{
  color:#ef3674;
}
/*主体结束*/