@charset "UTF-8";
@import url(base.css);
#view-5 {
  width: 7.5rem;
  height: 13.34rem;
  background: url("../img/bg.png") no-repeat center/cover;
  /*头部*/
  /*导航*/
  /*main*/
  /*固定定位*/ }
  #view-5 header {
    width: 100%;
    height: .88rem;
    padding: 0 0.24rem;
    box-sizing: border-box; }
    #view-5 header .header-wrapper {
      height: 100%;
      width: 100%;
      padding: 0 2.6rem 0 0;
      box-sizing: border-box; }
      #view-5 header .header-wrapper a {
        display: block;
        width: .32rem;
        height: .32rem;
        line-height: .88rem; }
        #view-5 header .header-wrapper a i {
          float: left;
          width: .32rem;
          height: .32rem;
          color: #fff;
          font-size: .32rem;
          font-weight: bold;
          line-height: .88rem; }
      #view-5 header .header-wrapper h2 {
        float: right;
        height: 100%;
        font-size: .34rem;
        color: #fff;}
  #view-5 nav {
    width: 100%;
    height: 1.14rem; }
    #view-5 nav .nav-wrapper {
      width: 100%;
      height: 1.14rem;
      padding: 0 0.24rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; }
      #view-5 nav .nav-wrapper .nav-context {
        width: 100%;
        height: .56rem;
        padding: 0 0.24rem 0.16rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: space-around; }
        #view-5 nav .nav-wrapper .nav-context li {
          height: .4rem; }
          #view-5 nav .nav-wrapper .nav-context li a {
            display: block;
            height: .4rem;
            font-size: .22rem;
            color: #fff; }
      #view-5 nav .nav-wrapper .search {
        width: 100%;
        height: .68rem;
        padding: 0 0.24rem;
        box-sizing: border-box;
        position: relative;
        background: #fafafa;
        border-radius: .2rem; }
        #view-5 nav .nav-wrapper .search i {
          width: .24rem;
          height: .24rem;
          font-size: .24rem;
          color: #ccc;
          position: absolute;
          top: 0;
          bottom: 0;
          margin-top: auto;
          margin-bottom: auto;
          left: .32rem; }
        #view-5 nav .nav-wrapper .search input {
          float: right;
          width: 90%;
          height: 100%;
          border: none;
          outline: none;
          background: #fafafa;
          padding: .08rem;
          box-sizing: border-box; }
  #view-5 main {
    width: 100%;
    padding: 0 0.24rem;
    box-sizing: border-box; }
    #view-5 main .main-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
      #view-5 main .main-wrapper li {
        width: 2.08rem;
        height: 3.32rem;
        margin: .4rem .24rem 0 0; }
        #view-5 main .main-wrapper li img {
          width: 2.08rem;
          height: 2.92rem;
          border: 1px solid #ffffff;
          border-radius: .2rem;
          margin-bottom: .14rem; }
        #view-5 main .main-wrapper li p {
          font-size: .18rem;
          color: #333333;
          line-height: .24rem; }
          #view-5 main .main-wrapper li p .name {
            font-size: .22rem; }
          #view-5 main .main-wrapper li p .hot {
            font-size: .18rem; }
  #view-5 section {
    width: .3rem;
    height: 9.48rem;
    background: #fff;
    position: fixed;
    right: 0;
    bottom: .54rem; }
    #view-5 section .fixed {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      justify-content: space-around; }
      #view-5 section .fixed li {
        width: .44rem;
        height: .3rem;
        text-align: center;
        line-height: .3rem;
        font-size: .22rem;
        color: #333;
        /*active 固定定位添加类*/ }
        #view-5 section .fixed li.active {
          width: .44rem;
          height: .28rem;
          background: #ff318d;
          color: #fff;
          border-radius: .13rem 0 0 .13rem; }
