@import url(base.css);
$width:7.5rem;
$padding: .24rem;
@mixin rowFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin columnCenter{
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
#view-5 {
  width: $width;
  height: 13.34rem;
  background: url("../img/bg.png") no-repeat center/cover;
  /*头部*/
  header {
    width: 100%;
    height: .88rem;
    padding: 0 $padding;
    box-sizing: border-box;
    .header-wrapper {
      height: 100%;
      width: 100%;
      padding: 0 2.6rem 0 0;
      box-sizing: border-box;
     a{
       display: block;
       width: .32rem;
       height: .32rem;
       line-height: .88rem;
       i {
         float: left;
         width: .32rem;
         height: .32rem;
         color: #fff;
         font-size: .32rem;
         font-weight: bold;
         line-height: .88rem;
       }
     }
      h2 {
        float: right;
        height: 100%;
        font-size: .34rem;
        color: #fff;
        line-height: .88rem;
      }
    }
  }
  /*导航*/
  nav{
    width: 100%;
    height: 1.14rem;
    .nav-wrapper{
      width: 100%;
      height: 1.14rem;
      padding: 0 $padding;
      box-sizing: border-box;
      @include rowFlex;
      flex-direction: column;
      .nav-context{
        width: 100%;
        height: .56rem;
        padding: 0 $padding .16rem;
        box-sizing: border-box;
        @include rowFlex;
        justify-content: space-around;
        li{
          height: .4rem;
          a{
            display: block;
            height: .4rem;
            font-size: .22rem;
            color: #fff;
          }
        }
      }
      .search{
        width: 100%;
        height: .68rem;
        padding: 0 $padding;
        box-sizing: border-box;
        position: relative;
        background: #fafafa;
        border-radius: .2rem;
        i{
          width: .24rem;
          height: .24rem;
          font-size: .24rem;
          color: #ccc;
          position: absolute;
          @include columnCenter;
          left: .32rem
        }
        input{
          float: right;
          width: 90%;
          height: 100%;
          border: none;
          outline: none;
          background: #fafafa;
          padding: .08rem;
          box-sizing: border-box;
        }
      }
    }
  }
  /*main*/
  main{
    width: 100%;
    padding: 0 $padding;
    box-sizing: border-box;
    .main-wrapper{
      width: 100%;
      @include rowFlex;
      flex-wrap: wrap;
      li{
        width: 2.08rem;
        height: 3.32rem;
        margin: .4rem .24rem 0 0;
        img{
          width: 2.08rem;
          height: 2.92rem;
          border: 1px solid #ffffff;
          border-radius: .2rem;
          margin-bottom: .14rem;
        }
        p{
          font-size: .18rem;
          color: #333333;
          line-height: .24rem;
          .name{
            font-size: .22rem;
          }
          .hot{
            font-size: .18rem;
          }
        }
      }
    }
  }
  /*固定定位*/
  section{
    width: .3rem;
    height: 9.48rem;
    background: #fff;
    position: fixed;
    right: 0;
    bottom: .54rem;
    .fixed{
      width: 100%;
      height: 100%;
      @include rowFlex;
      flex-direction: column;
      justify-content: space-around;
      li{
        width: .44rem;
        height: .3rem;
        text-align: center;
        line-height: .3rem;
        font-size: .22rem;
        color: #333;
        /*active 固定定位添加类*/
        &.active{
          width: .44rem;
          height: .28rem;
          background: #ff318d;
          color: #fff;
          border-radius: .13rem 0 0 .13rem;
        }
      }
    }
  }
}