@import url(base.css);
.main{
	width: 7.5rem;
	height: 8.88rem;
	position: relative;
}
.page-background img{
	width: 7.5rem;
	height: 8.88rem;
}
/* header开始 */
.header{
   width: 7.5rem;
   height: 1.28rem;
   padding: 0 0.25rem;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   left: 0;
   top: 0;
}
.back{
	display: block;
	width: 0.4rem;
	height: 0.4rem;
}
.back i.icon-fanhui{
	display: block;
	font-size: 0.32rem;
	color: #fff;
	text-align: center;
	line-height: 0.4rem;
}
.head-title{
	font-size: 0.36rem;
	color: #fff;
}
.noway{
	width: 0.5rem;
	height: 100%;
}
.lyrics{
	width: 7.5rem;
	height: 6.68rem;
	padding: 0.2rem;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 1.28rem;
}
.lyrics p{
	width: 100%;
	font-size: 0.12rem;
	color: #fff;
	padding: 0.1rem;
	text-align: center;
}
/* header结束 */
/* nav开始 */
.nav{
	width: 7.5rem;
	height: 2rem;
	background: #fff;
}
.nav-icon{
	width: 7rem;
	height: 2rem;
	padding: 0 0.25rem;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.nav-icon li{
   width: 1.2rem;
   height: 1.41rem;
}
.list-icon{
   width: 0.88rem;
   height: 0.88rem;
   border-radius: 50%;
   margin:0.3rem auto;
   margin-bottom: 0.2rem;
   position: relative; 
}
.circle{
	display: block;
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
	border: 0.02rem dashed #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
}
i.icon-iconfontmaikefeng,i.icon-qiege,i.icon-shang,i.icon-luyin1{
    display: block;
    font-size: 0.4rem;
    color: #fff;
    text-align: center;
    line-height: 0.7rem;
}
.list-title{
	display: block;
	width: 100%;
	font-size: 0.2rem;
	color: #333;
	text-align: center;
}
/* nav结束 */
/* voice开始 */
.voice{
	width: 7.5rem;
	height: 2.46rem;
	background: #fff;
	padding: 0.24rem 0.58rem;
	box-sizing: border-box;
}
.voice-tube,.voice-volume{
	width: 3.17rem;
	height: 0.99rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tube-icon,.volume-icon{
	display: block;
	width: 0.6rem;
	height: 100%;
}
.tube-icon i.icon-luyin{
    display: block;
	font-size: 0.6rem ;
	color: #ff318d;
	line-height: 0.99rem;
}
.volume-icon i.icon-yinliang1{
    display: block;
	font-size: 0.58rem ;
	color: #ff318d;
	text-align: center;
	line-height: 0.99rem;
}
.progress{
	width: 5.14rem;
	height: 0.12rem;
	position: relative;
}
.progress-bar{
	width: 4.9rem;
	height: 0.06rem;
	border-radius: 1rem;
	background: #e8d9dd;
}
.progress-change{
	width: 2.3rem;
	height: 0.08rem;
	border-radius: 1rem;
	background: #ff318d;
	position: absolute;
	left: 0;
	top: 0rem;
}
.tube-num,.volume-num{
	width: 0.6rem;
	height: 100%;
	padding-left:0.3rem ;
	font-size: 0.36rem;
	color: #666;
	text-align: center;
	line-height: 0.99rem;
}
/* voice结束 */
