@import url(base.css);
@mixin flex{
  display: flex;
}
body{
  background: url("../img/bjlist.png") no-repeat 0 0 /cover;
}
#view-9{
  width: 100%;
  height: auto;
  header{
    width: 100%;
    height: 0.72rem;
    line-height: 0.72rem;
    font-size: 0.34rem;
    margin-top: 0.36rem;
    @include flex;
    justify-content: space-between;
    align-items: center;
    a{
      font-size: 0.34rem;
      i{
        margin-left: 0.21rem;
        font-size: 0.34rem;
        color: #ffffff;
      }
    }
    .headernav{
      font-size: 0.34rem;
      color: #ffffff;
    }
    .header-right{
      font-size: 0.2rem;
      color: #ffffff;
      margin-right: 0.26rem;
    }
  }
  /*内容*/
  .content{
    width: 100%;
    height: auto;
    margin-top: 1.12rem;
    padding: 0.2rem 0 0.1rem 0.25rem;
    box-sizing: border-box;
    li{
      width: 100%;
      height: 1.58rem;
      @include flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dashed #cccccc;
      .conten{
        width: 1.02rem;
        height: 1.02rem;
        position: relative;
        .content-left{
          width: 1.02rem;
          height: 1.02rem;
          background: #fe3191;
          border-radius: 0.2rem;
          transform:rotate(45deg);
          position: absolute;
          top: 0.02rem;
          left: 0;
        }
        .cotent-img{
          width: 1.12rem;
          height: 1.12rem;
          border: 0.01rem solid #ffffff;
          border-radius: 0.2rem;
          position: absolute;
          left: -0.12rem;
          top: 0;
          z-index: 1;
          overflow: hidden;
          img{
            display: block;
            width: 100%;
          }
        }
      }
      .content-right{
        width: 4.28rem;
        height: 100%;
        line-height: 1.58rem;
        //margin-left: 0.5rem;
        padding-top: 0.26rem;
        box-sizing: border-box;
        @include flex;
        flex-direction: column;
        align-items: center;
        .cont-top{
          width: 100%;
          height: 0.54rem;
          font-size: 0.28rem;
          color: #6e7580;
          line-height: 0.54rem;
          .song-name{
            font-size: 0.28rem;
            color: #6e7580;
            line-height: 0.54rem;
          }
          .name{
            font-size: 0.28rem;
            color: #6e7580;
            line-height: 0.54rem;
          }
        }
        .cont-bottom{
          width: 100%;
          height: 0.54rem;
          font-size: 0.16rem;
          color: #c6c6c6;
          line-height: 0.54rem;
          .time{
            font-size: 0.16rem;
            color: #c6c6c6;
            line-height: 0.54rem;
          }
          .second{
            font-size: 0.16rem;
            color: #c6c6c6;
            line-height: 0.54rem;
          }
        }
      }
      a{
        margin-right: 0.26rem;
        i{
          font-size: 0.5rem;
          color: #fa3c72;
        }
      }
    }

  }
}