@import url(base.css);
@mixin flex{
  display: flex;
}
body{
  background: url("../img/beijinglist.png") no-repeat 0 0 /cover;
}
#view-6 {
  width: 100%;
  height: auto;
  /*头部*/
  header {
    width: 100%;
    height: 0.81rem;
    font-size: .46rem;
    color: #ffffff;
    line-height: 0.81rem;
    margin-top: 0.34rem;
    a{
      font-size: 0.44rem;
      i {
        padding-left: 0.24rem;
        font-size: 0.44rem;
        color: #ffffff;
      }
    }
    span {
      padding-left: 2.58rem;
      font-size: 0.36rem;
    }
  }
  nav{
    width: 100%;
    height: auto;
    .nav{
      width: 100%;
      height: auto;
      overflow: hidden;
      li{
        width: 7.04rem;
        height: 3.2rem;
        margin: 0 auto;
        margin-top: 0.24rem;
        border: 0.02rem solid #ffffff;
        border-radius: 0.08rem;
        box-shadow: 0 0 0.05rem 0.05rem rgb(255,211,230);
        position: relative;
        a{
          width: 7.04rem;
          height: 3.2rem;
          display: block;
          overflow: hidden;
          border-radius: 0.08rem;
          img{
            display: block;
            width: 100%;
            border-radius: 0.08rem;
          }
        }
        .nav-left{
          width: 3.22rem;
          height: 0.52rem;
          background: #3ab7ff;
          border-radius: 0.04rem;
          position: absolute;
          left: 0.64rem;
          bottom: 0.23rem;
          z-index: 1;
          p{
            width: 3.22rem;
            height: 0.52rem;
            line-height: 0.52rem;
            text-align: center;
            font-size: 0.26rem;
            color: #ffffff;
            .left-nav{
              line-height: 0.52rem;
              font-size: 0.26rem;
            }
            .name{
              line-height: 0.52rem;
              font-size: 0.26rem;
            }
          }
        }
        .nav-right{
          width: 2.62rem;
          height: 0.52rem;
          background: #1aa5f5;
          position: absolute;
          left: 3.69rem;
          bottom: 0.34rem;
          padding: 0.14rem 0.26rem 0.16rem 0.42rem;
          box-sizing: border-box;
          color: #ffffff;
          font-size: 0.23rem;
          line-height: 0.52rem;
          border-radius: 0.04rem;
          @include flex;
          justify-content: space-between;
          p{
            width: 2rem;
            height: 0.25rem;
            color: #ffffff;
            line-height: 0.25rem;
            @include flex;
            i{
              font-size: 0.23rem;
            }
            .nav-math{
              font-size: 0.23rem;
            }
          }
        }
      }
    }
  }
}