@import url(base.css);
@import url(base.css);
#view-3 {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#view-3 > img {
  width: 19rem;
  height: 13.32rem;
  margin-left: -5.3rem;
  position: relative; }

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }

.wrapper i {
  display: block;
  font-size: 0.36rem;
  color: #fff;
  position: absolute;
  left: 0.22rem;
  top: 0.63rem; }

.wrapper h1 {
  font-size: 0.32rem;
  color: #fff;
  margin-top: 0.66rem;
  font-weight: none;
  text-align: center; }

.img-1 {
  width: 4.61rem;
  height: 4.61rem;
  margin-left: 1.31rem;
  margin-top: 2.5rem; }

.img-2 {
  width: 2.85rem;
  height: 2.85rem;
  position: absolute;
  top: 4.4rem;
  left: 2.35rem; }

.img-3, .img-4 {
  width: 2.7rem;
  height: 2.7rem;
  position: absolute;
  top: 4.5rem;
  left: 2.4rem;
  border-radius: 0.5rem; }

.img-5 {
  width: 2.66rem;
  height: 1.35rem;
  position: absolute;
  top: 4.5rem;
  left: 2.44rem; }

.cicular-1 {
  width: 0.22rem;
  height: 0.22rem;
  border-radius: 50%;
  background: #f91f90;
  position: absolute;
  top: 4.36rem;
  left: 1.4rem; }

.cicular-2 {
  width: 0.14rem;
  height: 0.14rem;
  border-radius: 50%;
  background: #f91f90;
  position: absolute;
  top: 3.9rem;
  left: 1rem; }

.cicular-3 {
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 50%;
  background: #f91f90;
  position: absolute;
  top: 4.5rem;
  left: 0.9rem; }

.cicular-4 {
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #f91f90;
  position: absolute;
  top: 4.1rem;
  left: 1.5rem; }

.cicular-5 {
  width: 0.08rem;
  height: 0.08rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 4rem;
  left: 1.4rem; }

.cicular-6 {
  width: 0.22rem;
  height: 0.22rem;
  border-radius: 50%;
  background: #26a6ff;
  position: absolute;
  top: 7.1rem;
  left: 5.4rem; }

.cicular-7 {
  width: 0.14rem;
  height: 0.14rem;
  border-radius: 50%;
  background: #26a6ff;
  position: absolute;
  top: 7.3rem;
  left: 5.8rem; }

.cicular-8 {
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 50%;
  background: #26a6ff;
  position: absolute;
  top: 6.9rem;
  left: 5.9rem; }

.cicular-9 {
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #26a6ff;
  position: absolute;
  top: 7.2rem;
  left: 5.7rem; }

.cicular-10 {
  width: 0.08rem;
  height: 0.08rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 6.7rem;
  left: 5.7rem; }

.cicular-11 {
  width: 0.22rem;
  height: 0.22rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 4.3rem;
  left: 4.3rem; }

.cicular-12 {
  width: 0.22rem;
  height: 0.22rem;
  border-radius: 50%;
  background: #f91f90;
  position: absolute;
  top: 5.75rem;
  left: 3rem; }

.scan {
  width: 3.38rem;
  height: 0.85rem;
  background: #fff;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-top: 2.8rem;
  border: 0.11rem solid #f2f2f2;
  box-sizing: border-box; }

.scan a {
  display: block;
  font-size: 0.26rem;
  color: #f22a8d;
  line-height: 0.63rem;
  text-align: center; }
