@import url(base.css);
li{
	list-style: none;
}
#view-12 {
  width: 7.5rem;
  height: auto;
  background-image: -webkit-linear-gradient(-45deg, #fb37ca, #fc378d);
  background-image: linear-gradient(-45deg, #fb37ca, #fc378d); 
}
header {
    width: 7.5rem;
    height: 1.13rem;
    box-sizing: border-box;
    padding: 0 0.22rem;
    border-top: 0.03rem solid #fc5fc1; 
}
header .icon > a > i {
      display: block;
      font-size: 0.38rem;
      float: left;
      margin-top: 0.40rem;
      color: #fff; 
  }
header .text {
      text-align: center;
      margin: 0.30rem auto 0.1rem;
      font-size: 0.28rem;
      color: #fff;
  }
header .pktext {
      text-align: center;
      font-size: 0.22rem;
      color: #fff; 
  }
#Roll {
    width: 7.5rem;
    height: 0.03rem;
    background: #a94fba;
    position: relative;
  }
#Roll .Roll-box {
      width: 0.1rem;
      height: 0.1rem;
      border: 0.1rem solid #2fa1ea;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: -0.10em;
      left: 0.40rem; 
  }
.time {
    width: 7.5rem;
    height: 1.11rem;
    overflow: hidden; 
}
.time .PKtime {
      height: 0.32rem;
      margin: 0.40rem auto 0.39rem;
      color: #fff;
      font-size: 0.32rem;
      text-align: center;
      line-height: 0.32rem;
  }
.CD {
    width: 7.5rem;
    height: 3.57rem;
    overflow: hidden;
  }
.CD .CDbox {
      width: 5.62rem;
      height: 100%;
      margin: 0 auto;
      border-radius: 5px;
      background-position: -0.95rem -2.7rem;
  }
.Lyrics {
    width: 7.5rem;
    height: 1.64rem;
    margin-top: 0.50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
.Lyrics .tx1 {
      width: 7.5rem;
      height: 0.46rem;
      line-height: 0.46rem;
      font-size: 0.3rem;
      text-align: center;
      color: #fff; 
  }
.Lyrics .tx2 {
      width: 7.5rem;
      height: 0.46rem;
      line-height: 0.46rem;
      font-size: 0.24rem;
      text-align: center;
      color: #fff;
   }
.Lyrics .tx3 {
      width: 7.5rem;
      height: 0.46rem;
      line-height: 0.46rem;
      font-size: 0.28rem;
      text-align: center;
      color: #fc5a9c; 
  }
footer {
    width: 7.5rem;
    height: 5.55rem;
    background: url("") no-repeat;
    margin-top: -0.2rem;
    overflow: hidden;
    position: relative;
 }
footer img{
    width: 7.5rem;
    height: 5.55rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
 }
.tiao {
      width: 15rem;
      height: 3.27rem;
      margin-top: 0.93rem;
      position: relative; 
  }
.tiao .t1 {
        width: 0.76rem;
        height: 0.13rem;
        position: absolute;
        top: 1.14rem;
        left: 0;
        background: #fc378d; 
 }
.tiao .t2 {
        width: 0.26rem;
        height: 0.13rem;
        position: absolute;
        top: 1.85rem;
        left: 0.88rem;
        background: #fc378d; 
  }
.tiao .t3 {
        width: 0.59rem;
        height: 0.13rem;
        position: absolute;
        top: 1.85rem;
        left: 1.21rem;
        background: #fc378d; 
 }
.tiao .t4 {
        width: 1.4rem;
        height: 0.13rem;
        position: absolute;
        top: 0.67rem;
        left: 1.82rem;
        background: #fc378d; 
 }
.tiao .t5 {
        width: 1.75rem;
        height: 0.13rem;
        position: absolute;
        top: 1.27rem;
        left: 2.87rem;
        background: #fc378d; 
 }
.tiao .t6 {
        width: 0.74rem;
        height: 0.13rem;
        position: absolute;
        top: 1.44rem;
        left: 4.63rem;
        background: #fc378d; 
}
.tiao .t7 {
        width: 1.91rem;
        height: 0.07rem;
        position: absolute;
        top: 0.94rem;
        left: 5.36rem;
        background: #fc378d; 
 }
.tiao .cela {
        width: 1.82rem;
        height: 100%;
        box-sizing: border-box;
        border-right: 0.02rem solid #fb5ba1;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(-90deg, #f9a0c7, #f7f6f7); 
     }
.tiao .sanjiao > i {
        display: block;
        color: #fc378d;
        font-size: 0.3rem;
        position: absolute;
        top: 0.60rem;
        left: 1.53rem;
 }
.yuyin {
      width: 1.16rem;
      height: 1.16rem;
      border: 0.08rem solid #3b454c;
      background: #fc37a2;
      border-radius: 50%;
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto; 
 }
.yuyin i.icon-iconjia {
        display: block;
        font-size: 0.37rem;
        line-height: 1rem;
        text-align: center;
        color: #fff; 
 }

