@import url(base.css);
@import url(base.css);
$width:7.5rem;
$padding: .24rem;
@mixin rowFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin columnCenter{
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
#view-10 {
  width: $width;
  height: 13.34rem;
  background: url("../img/view-bg-10.png") no-repeat center/cover;
  /*头部*/
  header {
    width: 100%;
    height: .88rem;
    padding: 0 $padding;
    box-sizing: border-box;
    .header-wrapper {
      height: 100%;
      width: 100%;
      padding: 0 2.6rem 0 0;
      box-sizing: border-box;
      a {
        display: block;
        width: .32rem;
        height: .32rem;
        line-height: .88rem;
        i {
          float: left;
          width: .32rem;
          height: .32rem;
          color: #fff;
          font-size: .32rem;
          font-weight: bold;
          line-height: .88rem;
        }
      }
      h2 {
        float: right;
        height: 100%;
        font-size: .34rem;
        color: #fff;
        //line-height: .88rem;
      }
    }
  }
  /*section*/
  section{
    width: 100%;
    height: .8rem;
    padding: 0 $padding;
    box-sizing: border-box;
    .section-wrapper{
      width: 100%;
      height: 100%;
      @include rowFlex;
      flex-direction: column;
      li{
        p{
          font-size: .24rem;
          color: #fff;
        }
      }
    }
  }
  /*main*/
  main{
    width: 100%;
    .mainwrapper{
      width: 100%;
      margin-top: .58rem;
      li{
        width: 5.82rem;
        height: 8.7rem;
        background: #fafafa;
        border-radius: .16rem;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        a{
          img{
            width: 100%;
            height: 3.88rem;
          }
        }
        .pot{
          color: #fafafa;
          position: absolute;
          top: 132px;
          left: 0;
        }
        .song{
          margin: .4rem 0 .2rem .28rem;
          font-size: .26rem;
          color: #000;
        }
        .songInfo{
          font-size: .22rem;
          color: #999;
          line-height: 1.5;
          display:-webkit-box;
          -webkit-box-orient:vertical;
          -webkit-line-clamp:2;
          overflow:hidden;
          text-overflow:ellipsis;
          padding: 0 .28rem;
          box-sizing: border-box;
        }
        .hot{
          width: 4.6rem;
          margin: .2rem 0 .2rem .28rem;
          @include rowFlex;
          .hot-left{
            width: 2rem;
            @include rowFlex;
            .iconfont{
              font-size: .16rem;
              color: #8986f1;
            }
            p{
              font-size: .2rem;
              color: #333;
            }
          }
          .hot-right{
            width: 2rem;
            @include rowFlex;
            .iconfont{
              font-size: .16rem;
              color: #8986f1;
            }
            p{
              font-size: .2rem;
              color: #333;
            }
          }
        }
        .imgBox{
          margin: .4rem 0;
          img{
            width: 1.04rem;
            height: 1.04rem;
            float: left;
            margin-left: .28rem;
            border-radius: .16rem;
          }
        }
        .rec{
          margin-top: 1.7rem;
          @include rowFlex;
          padding: .18rem .28rem;
          box-sizing: border-box;
          .choose,.pk{
            width: 2.4rem;
            height: .6rem;
            border-radius: .3rem;
            font-size: .22rem;
            color: #fff;
            text-align: center;
            line-height: .6rem;
            border: .04rem solid #fff;
          }
          .choose{
            background-image:-webkit-linear-gradient(45deg,#ff2c72,#e82eb9);
            background-image:-moz-linear-gradient(45deg,#ff2c72,#e82eb9);
            background-image:-o-linear-gradient(45deg,#ff2c72,#e82eb9);
            background-image:-ms-linear-gradient(45deg,#ff2c72,#e82eb9);
            background-image:linear-gradient(45deg,#ff2c72,#e82eb9);
          }
          .pk{
            background-image:-webkit-linear-gradient(45deg,#e82eb9,#ff2c72);
            background-image:-moz-linear-gradient(45deg,#e82eb9,#ff2c72);
            background-image:-o-linear-gradient(45deg,#e82eb9,#ff2c72);
            background-image:-ms-linear-gradient(45deg,#e82eb9,#ff2c72);
            background-image:linear-gradient(45deg,#e82eb9,#ff2c72);
          }
        }
        }
      }
    .btn{
      width: 3rem;
      height: .18rem;
      @include rowFlex;
      margin: 1.4rem auto 0;
      li{
        width: .18rem;
        height: .18rem;
        background: #fff;
        border-radius: 50%;
      }
    }
  }
}