@import url(base.css);
@mixin text-locatlL{
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
@mixin text-locatlT{
	top:0;
	bottom:0;
	margin-top:auto;
	margin-bottom:auto;
}
html,body{
	width:100%;
	height:100%;
	background:url("../img/bjlist.png") no-repeat 0 0/cover;

}
#view-17{
	width:100%;
	height:100%;	
}
header{
	width:100%;
	height:1.26rem;
	position:absolute;
	top:0;
	left:0;
	.back{
		width:0.37rem;
		height:0.37rem;
		position:absolute;
		top:0.5rem;
		left:0.24rem;
		font-size:0.36rem;
		color:#fff;
		i{
			display:block;
		}

	}
	.title{
		width:1.45rem;
		height:0.34rem;
		font-size:0.34rem;
		color:#fff;
		position:absolute;
		top:0.5rem;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;

		
	}

}

section{
	width:100%;
	height:10.42rem;
	position:absolute;
	bottom:0;
	left:0;
	
	.sec-img{
		width:3.34rem;
		height:3.81rem;
		position:absolute;
		top:0.47rem;
		@include text-locatlL;

	}
	.prompt{
		width:3.34rem;
		height:0.85rem;
		position:absolute;
		top:4.34rem;
		@include text-locatlL;
	}
	.button{
		width:5.89rem;
		height:1.01rem;
		position:absolute;
		top:7.57rem;
		@include text-locatlL;
		button{
			width:5.89rem;
			height:1.01rem;
			border-radius: 0.5rem;
			font-size:0.28rem;
			color:#fff;
			line-height:0.97rem;
			text-align:center;
			font-weight:bold;
			border:0.04rem solid #fff;
			background-image:-webkit-linear-gradient(180deg,#ff44eb,#fc3796)
		}
	}
	.btnL{
		width:0.08rem;
		height:0.08rem;
		border-radius: 50%;
		background:#fff;
		position:absolute;
		top:8.27rem;
		left:1.06rem;
	}
	.btnR{
		width:0.08rem;
		height:0.08rem;
		border-radius: 50%;
		background:#fff;
		position:absolute;
		top:8.27rem;
		right:1.06rem;
	}
}




